.navbar-text {
  font-size: 25px;
}
.top {
  background-color: #e91e63;
  color: white;
  margin-bottom: 10px;
}
.backButton {
  color: white;
  font-size: 30px;
}
.pokeImg {
  margin-top: 15px;
}
.title {
  margin: 10px 0 5px 0;
}
.title img {
  max-height: 20px;
}
.title h2 {
  color: #e91e63;
  font-size: 20px;
  margin: 0px;
}
.title i {
  font-size: 35px;
  line-height: 35px;
}
b {
  color: #e91e63;
  font-size: 20px;
  margin: 0px;
}
.noPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.icons img {
  margin-left: 5px;
}
.info h3 {
  color: #949494;
  font-size: 14px;
  line-height: 10px;
  margin: 0px !important;
}
.info ul {
  margin: 5px 0 5px 0 !important;
}
.desc {
  color: #949494;
  font-size: 12px;
}
.panel {
  margin-bottom: 0px !important;
}
.grlDesc {
  margin-top: 10px;
}
.panel-heading {
  background-color: #949494 !important;
}
.panel-title {
  color: white;
}
.table > tbody > tr > td {
  color: #949494;
  padding-left: 15px;
}
.descTitle {
  color: #949494;
  font-size: 16px;
}
.evoImg {
  border: solid 0.2px #e7e3e3;
  margin: 10px 0 10px 40px;
  max-height: 80px;
}
.pokeNum {
  color: #949494;
  font-size: 12px;
  margin-top: 5px;
  text-align: center;
}
.evoName {
  font-size: 22px;
}
.evoLvl {
  font-size: 12px;
  margin-left: 5px;
}
span.bug {
  background-color: #67ab9f;
}
span.grass {
  background-color: #97d077;
}
span.poison {
  background-color: #7f628c;
}

p {
  text-align: center;
}

h4 {
  color: red;
}
